@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  background: #FFF;
  font-family: 'Merriweather', serif;
}

@import url("https:cdn.syncfusion.com/ej2/material.css");
.nav-items {
    height: calc(100vh - 87px);
    width: 100vw;
}

/* custom search bar  */
.input-box {
    transition: all 0.6s cubic-bezier(0.58, 0, 0.5, 1);
}
.input-box.open {
    max-width: 320px;
    margin-right: 26px !important;
}
.input-box input {
    @apply relative outline-none h-full w-full rounded-[8px] text-sm;
    margin-right: 26px !important;
}
.input-box.open {
    @apply border;
    padding: 0 0 0 50px;
    margin-right: 26px !important;
}
.icon {
    @apply absolute h-full top-0 left-0 w-[50px] rounded-[8px] flex justify-center bg-white;
}
.search-icon {
    @apply absolute top-1/2 text-sm;
    transition: all 0.4s cubic-bezier(0.58, 0, 0.12, 1);
}
.close-icon {
    @apply absolute top-1/2 text-sm;
    transition: all 0.1s cubic-bezier(0.58, 0, 0.12, 1);
}
.search-icon {
    color: #5c77ff;
    transform: translateY(-50%) rotate(90deg);
}
.input-box.open .search-icon {
    transform: translateY(-50%) rotate(0);
}
.close-icon {
    @apply text-white opacity-0 cursor-pointer -translate-y-1/2 -right-8;
}
.input-box.open .close-icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}

/*===============
 homepage
=================*/

#circle { position: relative; width: 100%; padding-bottom: 0%; overflow: hidden; }

#circle text { 
    font-size: 16px; 
    font-weight: normal; 
    color: green; 
}

#circle svg { width: 100%; height: fit-content;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
      -ms-animation-duration: 7s;
       -o-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

/* caurosel  */
.swiper{
    overflow: visible !important;
}

.swiper-button-next ,.swiper-button-prev{
    @apply !top-[-50px] !text-black !text-[10px];
    
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    @apply !left-auto !right-auto;
}
.swiper-button-next{
    position: absolute;
    left: 500px !important;
}
.swiper-button-prev {
    position: absolute;
    left: 450px !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
    @apply !text-[24px] !font-bold;
}


/* active-btn  */

.btn-active {
    position: relative;
    @apply text-text;
}

.btn-active:after {
    content: '';
    @apply w-full h-[2px] bg-text bottom-0 left-0 absolute;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.subscribe{
    background-image: url(../public/assests/home/subscribe.webp);
}


/* ==============
membership page 
================= */

.td-sytle {
    @apply py-4 px-2 text-text font-bold whitespace-nowrap text-sm sm:text-base;
}

.accordion {
    @apply border-b
}

.title {
    @apply py-2 cursor-pointer transition-all duration-300 ease-in flex justify-between items-start sm:items-center text-base sm:text-lg md:text-[20px] font-bold;
}

.desc {
    @apply text-sm md:text-base text-text-60 pr-9;
}

.title span svg {
    @apply w-4 sm:w-7 h-4 sm:h-7 mt-1 sm:mt-0;
    display: inline-block;
    transition: 0.3s;
}

.title.active span {
    transform: rotate(180deg);
}

.title:hover,
.title.active {
    color: black;
}

.desc.active {
    display: block;
}
.membership-table:nth-child(3){
    @apply bg-primary-20
}
.membership-table:nth-child(3) button{
    @apply bg-primary text-white border-primary;
}

/*=====================
terms of services page 
 ========================*/

.error-part button {
    font-family: 'Arima Madurai', cursive;
}
.terms-of-condtion{
    background-image: url(../public/assests/Terms-Of-Conditons/banner.webp);
}


/* ======================
terms of services page 
=========================*/


/* for slider  */
.slide {
    opacity: 1;
    margin-top: 0px;
    transition: all linear .3s;
}


.scroll-bar::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


header h1 {
    color: #eee;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
  
.faqs .faq {
    @apply border-b;
    padding: 15px;
    background: transparent;
}

.faqs .faq .faq-question {
    position: relative;
    transition: all 0.4s ease;
}


.faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faqs .faq.open .faq-question {
    margin-bottom: 15px;
}

.faqs .faq.open .faq-question span {
    transform: rotate(180deg);
}

.faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
}

.form-container{
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.08);
}

/* ============================ 
for sign up and login system  
============================== */

.sign-in-up{
    background-image: url(../public/assests/bg.webp)
}

/* custom checkbox */
.custom-input {
@apply block relative pl-6 mb-0 cursor-pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
/* Hide the browser's default checkbox */
.custom-input input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

/* Create a custom checkbox */
.checkmark {
    @apply h-4 w-4 top-0 left-0 absolute bg-white border-primary border-[2px] rounded-[2px] mt-[1px];
}

/* On mouse-over, add a grey background color */
.custom-input:hover input ~ .checkmark {
    background-color:white;
}

/* When the checkbox is checked, add a blue background */
.custom-input input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-input input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-input .checkmark:after {
@apply border border-primary left-[4px] top-0 w-[4.5px] h-[10px]; 
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ====================
author details page 
======================*/

.person-details{
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

.blog-active-btn{
    @apply bg-primary-10 rounded-[5px];
}

/* tooltip coding  */
.btn-container span::after{
    @apply shadow-md;
    content: '';
    height: 10px;
    width: 10px; 
    background: white;
    position: absolute;
    bottom: -5px;
    left: 45%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.btn-container:hover .tooltip{
    @apply opacity-100 transition duration-500;
}

/* all blog page  */

.rti--container{
    @apply w-full sm:w-[450px] p-3 border-none !border-text-10 text-sm rounded-[4px] !outline-none !shadow-none;
    min-height: 48px;
}

.paginnation ul{
    @apply flex items-start justify-center gap-x-5 text-text-40 text-xs font-bold;
}

.paginnation ul li a{
    @apply flex items-center justify-center text-text-40 text-xs font-bold h-8 w-8 border rounded-[5px];
}

.paginnation .previous-btn a{
    @apply flex items-center justify-center text-text-40 text-xs font-bold border-none w-fit;
}

.paginnation .next-btn a{
    @apply flex items-center justify-center text-text-40 text-xs font-bold border-none w-fit;
}
.paginnation .active-page a{
    @apply text-xs font-bold h-8 w-8 border rounded-[5px] bg-primary text-white;
}

/* create blog page  */
.editor-class.rdw-editor-main{
    @apply px-3;
}
.public-DraftStyleDefault-ltr{
    min-height: 380px;
}

@media screen and (max-width: 639px) {
    .nav-items {
        height: calc(100vh - 56px);
        width: 100%;
    }    
    .swiper-button-next ,.swiper-button-prev{
        @apply !top-[unset] !-bottom-16 !text-black !text-[10px];
        
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        @apply !left-auto !right-auto;
    }
    .swiper-button-next{
        @apply !left-1/2 !-translate-x-1/2 ml-7;
    }
    .swiper-button-prev {
        @apply !left-1/2 !-translate-x-1/2 -ml-7;
    }
}

